<div class="div-center">
  <div class="content">
    <main data-controller="room" data-room-current-player-id-value="<%= current_player.id %>" data-room-id-value="<%= params[:id] %>" data-room-game-id-value="<%= @game.try(:id) %>" >
        <section id="field">
            <div id="container">
              <% 9.times do |generate| %>
                <div id="cell-<%= generate %>" data-action="click->room#handleClick" data-room-id-param="<%= generate %>" class="cell"> <%= player_sign(generate) %> </div>
              <% end %>
            </div>
        </section>
        <section id="sidebar">
          <%= turbo_stream_from "players" %>
          <%= turbo_frame_tag "players" do %>
            <% @players.each_with_index do |player, i| %>
              <div id="player_lists">
                <%= render "rooms/shared/player_list", idx: i, object: player %>
              </div>
            <% end %>
          <% end %>
            <div id="turns">
                <p id="titleTurns">Nuber of turns</p>
                <p id="numberTurns"><%= @player_moves.present? ? @player_moves.count : 0 %></p>
            </div>
            <h2 id="status"></h2>
            <button class="btn btn-primary"data-action="click->room#playGame">PLAY</button>
            <%= hidden_field_tag :current_player, current_player.sign %>
            <p class="d-none" id="game_state"> <%= game_states %> </p>
        </section>
    </main>
  </div>
</div>